In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv("lego_sets.csv")
theme= pd.read_csv("parent_themes.csv")

theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [3]:
df.head().sort_values(by="theme_name")

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [4]:
mergedData= df.merge(theme, left_on='parent_theme', right_on='name')
mergedData.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,Legoland,False

In [5]:
mergedData= mergedData.drop(columns='name_y')

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False
5,102A-1,Front-End Loader,1970,64.0,Construction,Legoland,411,False
6,102A-2,Front-End Loader,1970,NaN,Construction,Legoland,411,False
7,1-10,Mini-Wheel Model Maker No. 1,1971,88.0,Vehicle,Legoland,411,False
8,1550-1,Sterling Super Caravelle,1972,NaN,Airport,Legoland,411,False
9,1551-2,Sterling Luggage Carrier,1972,49.0,Airport,Legoland,411,False

In [24]:
mergedData.shape

(11986, 8)

In [25]:
mergedData.head(20)
mergedData= mergedData.dropna(subset=['set_num'])
mergedData.shape

(11833, 8)

# Q1 What percentage of all licensed sets ever released were Star Wars Themed?

In [26]:
licensed= mergedData[mergedData['is_licensed']==True]
licensed

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True
...,...,...,...,...,...,...,...,...
11981,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,True
11982,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,True
11983,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,True
11984,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,True
11985,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,True

### counting startwars

In [27]:

groupedLicensed= licensed.groupby('parent_theme')
starwarsCount= groupedLicensed.get_group('Star Wars').count()[0]
starwarsCount

609

### counting total licensed number

In [28]:
totalCountOfLicensed= licensed['is_licensed'].count()
totalCountOfLicensed

1179

In [29]:
percentageOfStarwarsTheme= int(starwarsCount/ totalCountOfLicensed *100)
print('Percentage of startwars theme: {}%'.format(percentageOfStarwarsTheme))

Percentage of startwars theme: 51%